*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222;
}
.card{
    width:90%;
    max-width: 470px;
    background: rgb(58,180,171);
background: linear-gradient(90deg, rgba(58,180,171,1) 0%, rgba(29,253,195,1) 50%, rgba(69,160,252,1) 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    color: #555;
    background: #ebfffc;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button img{
    width: 25px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.weathericon{
    width:170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 0 50px;
}
.humidity,.wind{
    font-size: 30px;
    align-items: center;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    display: none;
}